:root {
  --width: 50;
  --heigth: 50;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  align-items: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(var(--width), 18px);
  grid-template-rows: repeat(var(--height), 18px);
  gap: 1px 1px;
}

.cell {
  width: 17px;
  height: 17px;
  border: 1px solid #ccc;
}

button {
  border-radius: 50%;
  margin: 0 20px;
  padding: 8px 15px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
}

button:hover {
  transform: scale(105%);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
